/*----------------------------------- D R O P S -----------------------------------------*/

/*

*/

/*---------------- R E P E T I T I V E ` S    S E L E C T O R S -------------------------*/



/*----------------------------- @V A R I A B L E S  -------------------------------------*/

$white: #ffffff;
$violet: #8d81ac;
$grey: #848e97;
$contfz: 10;

/*-----------------------------   @E X T E N D S  ---------------------------------------*/

.container {
	margin: 0 auto;
	max-width: 1200px;
	font-size: 10px;
}

.lato {
	font-family: 'Lato', sans-serif;
}

.mont {
	font-family: 'Montserrat', sans-serif;
}

.myriad {
	font-family: 'Myriad Pro', sans-serif;
}

/*----------------------------- @M I X I N S  -------------------------------------------*/

@mixin simpleflex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
}

@mixin stylemenu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&-item {
		display: flex;
		align-items: center;
		&-link {
			text-decoration: none;
		}
	}
}

@mixin shellbtn {
	display: inline-block;
	background-color: $violet;
	border: none;
	outline: none;
	border-radius: 46px;
	color: $white;
	cursor: pointer;
	text-decoration: none;
	@extend .mont;
}

@mixin text ($num, $fw, $color, $fam) {
	font-size: ($num/$contfz) + em;

	@if $fw == 0 {
		font-weight: 400;
	} @else {
		font-weight: $fw;
	}

	@if $fam == lato {
		font-family: 'Lato', sans-serif;
	} @else if $fam == mont {
		font-family: 'Montserrat', sans-serif;
	}

	color: $color;
	text-align: center;
}


/*--------------------------- F O R K I O    H E A D E R -------------------------------*/

.navbar {
	background: rgb(34, 33, 37);

	.navbar-container {
		@extend .container;
		@include simpleflex;

		.navbar-menu-logo {
			@include simpleflex;
			justify-content: flex-start;

			.navbar-menu-img {
				padding: 30px 17px 29px 0px;
				height: 41px;
			}

			.navbar-menu-header {
				@include text(24, 700, $violet, lato);
				text-transform: uppercase;
			}
		}

		.navbar-menu {
			@include simpleflex;

			.navbar-list {
				@include stylemenu;

				&-item {
					padding-right: 48px;
					&-link {
						@include text(16, 700, $violet, mont);
					}
				}
			}

			.navbar-shell-btn {
				@include shellbtn;
				@include text(16, 700, $white, mont);
				padding: 12px 35px 11px 35px;
			}
		}
	}
}

/*------------------------------ M A I N   I M G -----------------------------------*/

.main {
	position: relative;
	background-image: url(../img/main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	height: 100vh;

	.main-container {
		@extend .container;
		padding-top: 60px;

		.main-header {
			@include text(82, 700, $white, mont);
			text-transform: capitalize;
		}

		.main-caption {
			@include text(30, 0, $violet, mont);
			padding-top: 18px;
		}

		.main-desc {
			@include text(16, 0, $grey, mont);
			padding-top: 18px;
		}

		.main-btn {
			position: absolute;
			bottom: 0;
			left: 50%;
			.main-btn-item {
				@include shellbtn;
				@include text(21, 700, $white, mont);
				padding: 23px 63px 23px 63px;
			}
			.main-btn-desc {
				@include text(14, 0, $grey, mont);
				padding-top: 19px;
			}
			transform: translate(-50%, calc(100% - 37px));
		}
	}
}

/*------------------------------   E D I T O R   ---------------------------------*/

.editor {
	padding: 129px 0 70px 0;

	.editor-container {
		@extend .container;

		.editor-header {
			@include text(54, 700, #635c73, mont);
			text-transform: uppercase;
		}

		.editor-desc {
			@include text(21, 0, #484848, lato);
			padding-top: 23px;
		}
	}

	.editor-counters {
		padding-top: 36px;
		@include simpleflex;
		justify-content: center;

		.editor-count-item {
			padding-right: 30px;
			display: flex;
			justify-content: center;

			.editor-count-btn {
				border: 1px solid rgb(214, 214, 214);
				background-color: rgb(242, 242, 242);
				outline: none;
				i {
					padding: 4px 0 4px 4px;
				}
				span {
					padding: 4px 4px 4px 0;
				}
			}

			input {
				border: 1px solid rgb(214, 214, 214);
				width: 60px;
				height: 26px;
				text-align: center;
				outline: none;
			}
		}
	}
}


/*-------------------------   F U N C T I O N A L   ----------------------------*/

.functional {
	background-color: rgb(244, 244, 244);
    position: relative;
	overflow-x: hidden;

	.functional-container {
		@extend .container;
		@include simpleflex;
		padding: 84px 0 69px;
		align-items: flex-start;
		flex-wrap: wrap;

		.functional-desc {
			order: 3;
			flex-basis: 50%;
    		text-align: center;

			.functional-desc-header {
				@include text(48, 700, #8d81ac, mont);
			}
		}

		.functional-list {
			flex-basis: 50%;

			.functional-list-item {
				@include simpleflex;
				padding-bottom: 34px;

				.functional-list-item-img {
					justify-content: center;
					flex-basis: 20%;
				}

				.functional-list-item-text {
					display: flex;
					flex-direction: column;
					flex-basis: 80%;

					.functional-list-item-header {
						@include text(16, 0, #323232, mont);
						margin-bottom: 17px;
						text-align: left;
					}

					.functional-list-item-caption {
						@include text(14, 0, #848e97, mont);
						line-height: 1.5;
						width: 70%;
						text-align: left;
					}
				}
			}
		}

		.functional-example {
			position: absolute;
			top: 20%;
			left: 50%;
		}
	}
}

/*-------------------------   S L I D E R   ----------------------------*/

.gallery {
	padding: 87px 0 80px 0;

	.gallery-container {
		@extend .container;
		@include simpleflex;
		justify-content: center;

		.gallery-carousel-prev {
			background-color: #ffffff;
			margin-right: 96px;
			@include text(20, 700, rgb(164, 164, 164), mont);
			border: none;
			outline: none;
			cursor: pointer;
		}

		.gallery-carousel-list {
			@include simpleflex;

			.gallery-list-item {

				.gallery-item-human {
					@include simpleflex;
					justify-content: center;

					.gallery-item-desc {
						margin-left: 23px;

						.gallery-item-desc-header {
							@include text(24, 700, #635c73, mont);
							text-align: left;
						}

						.gallery-item-desc-caption {
							@include text(16, 0, #8d81ac, mont);
							text-align: left;
						}

					}
				}

				.gallery-list-text {
					margin-top: 48px;

					p {
						@include text(20, 0, #333333, lato);
						line-height: 1.5;

						.gallery-list-text-violet {
							color: $violet;
							text-decoration: none;
						}
					}

					h5 {
						margin-top: 24px;
						@include text(16, 0, #848e97, mont);
					}
				}

			}
		}

		.gallery-carousel-next {
			background-color: #ffffff;
			margin-left: 96px;
			@include text(20, 700, rgb(164, 164, 164), mont);
			border: none;
			outline: none;
			cursor: pointer;
		}

	}

}
