/*----------------------------------- D R O P S -----------------------------------------*/

/*---------------- R E P E T I T I V E ` S    S E L E C T O R S -------------------------*/

.main-container {
  max-width: 1200px;
}

@media screen and (max-width: 1200px) {
  .main-container {
    max-width: 960px;
  }
}

@media screen and (max-width: 993px) {
  .main-container {
    max-width: 728px;
  }
}

@media screen and (max-width: 768px) {

  .main-container {
    max-width: 576px;
  }
}

@media screen and (max-width: 578px) {

  .main-container {
    max-width: 100%;
    padding: 0 15px;
  }
}

/* Second part */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    max-width: 100%;
  }
}

/*----------------------------- @V A R I A B L E S  -------------------------------------*/

$white: #ffffff;
$violet: #8d81ac;
$grey: #848e97;
$bcg-image: url("../img/Layer_OurPartners.png");
$bcg-image-subs: url("../img/Layer_Subscribe.png");
$bcg-image-base: url("../img/Base_Subscribe.png");
$font-family-header: "Montserrat";
$font-family-info: "Lato";
$font-size: 48px;
$white-color: #ffffff;
$purple-color: #8d81ac;
$grey-color: #848e97;
$black-color: #323232;

$jc: center;
$jc: space-around;
$jc: space-between;

/*-----------------------------   @E X T E N D S  ---------------------------------------*/

.lato {
  font-family: 'Lato', sans-serif;
}

.mont {
  font-family: 'Montserrat', sans-serif;
}

.myriad {
  font-family: 'Myriad Pro', sans-serif;
}

/*----------------------------- @M I X I N S  -------------------------------------------*/

@mixin flex($jc, $ai) {
  display: flex;
  @if $jc == c {
    justify-content: center;
  } @else if $jc == sa {
    justify-content: space-around;
  } @else if $jc == sb {
    justify-content: space-between;
  } @else if $jc == fs {
    justify-content: flex-start;
  } @else if $jc == fe {
    justify-content: flex-end;
  }

  @if $ai == c {
    align-items: center;
  } @else if $ai == sa {
    align-items: space-around;
  } @else if $ai == sb {
    align-items: space-between;
  } @else if $ai == fs {
    align-items: flex-start;
  } @else if $ai == fe {
    align-items: flex-end;
  }
}

@mixin comboflex($jc1, $ai1, $jc2, $ai2) {
  display: flex;
  @if $jc1 == c {
    justify-content: center;
  } @else if $jc1 == sa {
    justify-content: space-around;
  } @else if $jc1 == sb {
    justify-content: space-between;
  } @else if $jc1 == fs {
    justify-content: flex-start;
  } @else if $jc1 == fe {
    justify-content: flex-end;
  }

  @if $ai1 == c {
    align-items: center;
  } @else if $ai1 == sa {
    align-items: space-around;
  } @else if $ai1 == sb {
    align-items: space-between;
  } @else if $ai1 == fs {
    align-items: flex-start;
  } @else if $ai1 == fe {
    align-items: flex-end;
  }

  &__item {
    display: flex;
    @if $jc2 == c {
      justify-content: center;
    } @else if $jc2 == sa {
      justify-content: space-around;
    } @else if $jc2 == sb {
      justify-content: space-between;
    } @else if $jc2 == fs {
      justify-content: flex-start;
    } @else if $jc2 == fe {
      justify-content: flex-end;
    }

    @if $ai2 == c {
      align-items: center;
    } @else if $ai2 == sa {
      align-items: space-around;
    } @else if $ai2 == sb {
      align-items: space-between;
    } @else if $ai2 == fs {
      align-items: flex-start;
    } @else if $ai2 == fe {
      align-items: flex-end;
    }
  }
}

@mixin shellbtn($bc, $col) {
  background-color: $bc;
  border: 1px solid transparent;
  outline: none;
  color: $col;
  cursor: pointer;
  text-decoration: none;
}

@mixin text($num, $fw, $color, $fam) {
  font-size: $num + px;

  @if $fw == 0 {
    font-weight: 400;
  } @else {
    font-weight: $fw;
  }

  @if $fam == lato {
    font-family: 'Lato', sans-serif;
  } @else if $fam == mont {
    font-family: 'Montserrat', sans-serif;
  }

  color: $color;
  text-align: center;
}

@mixin btn-social($bc, $br, $color) {
  background-color: $bc;
  border-radius: $br;
  border: 1px solid $color;
  cursor: pointer;

  &__shell {
    text-decoration: none;
  }
}

@mixin background-settings {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@mixin header-section-name {
  font-weight: 700;
  line-height: 15px;
  font-size: $font-size;
  text-align: center;
  text-transform: capitalize;
  font-family: $font-family-header, sans-serif;
  color: $white-color;
}

@mixin button-text {
  text-transform: uppercase;
  text-decoration: none;
  font-family: $font-family-header, sans-serif;
  color: $white-color;
}

@mixin flex-configuration($jc) {
  display: flex;
  align-items: center;
  @if $jc == space-between {
    justify-content: space-between;
  } @else if ($jc == center) {
    justify-content: center;
  } @else if ($jc == space-around) {
    justify-content: space-around;
  }
}

@import "header.scss";
@import "editor.scss";
@import "main.scss";
@import "functional.scss";
@import "slider.scss";
@import "partners.scss";
@import "subscription.scss";
@import "callback.scss";
@import "footer.scss";


